﻿@using FormationEcommerce.Web.Models.Categories
@model IEnumerable<CategoryViewModel>

<h1>This is the Index view for the category</h1>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Categories List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Category</a>
            </div>
        </div>

        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Category Id</th>
                        <th>Category Name</th>
                        <th>Category Description</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@((item.Name))</td>
                            <td>@((item.Description))</td>

                            
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center">
                <p>No Item available. Create a new one to get started.</p>
            </div>
        }
    </div>
</div>
    